p {
  backdrop-filter: opacity(1);
}

h1 {
  padding: 1px;
  font-size: 24.88px;
}

h2 {
  padding: 0px;
  padding-top: 13px;
}

.Price {
  padding-right: 0px;
  margin-bottom: 10px;
  color: var(--bs-green);
  padding-left: 0px;
  margin-left: 6px;
  height: 34.5px;
}

.Price2 {
  margin-right: 2px;
  text-align: center;
  padding-left: 0px;
  color: var(--bs-green);
}

.Description {
  color: rgb(255, 255, 255);
}

.Product-title {
  color: rgb(255, 255, 255);
}

.Description {
  margin-bottom: 10px;
}

h2 {
  font-weight: bold;
}

.Product-title {
  font-weight: bold;
  margin-top: 0px;
}

.product-row {
  margin-top: 25px;
}

.gtitle {
  color: rgb(25,245,170);
  font-weight: bold;
}


.homespan {
  text-decoration:  underline;
}

.payment_text {
  padding: 28px;
}

.subtext {
  padding: 28px;
}

.Price2 {
  margin-right: 2px;
  text-align: center;
  padding-left: 0px;
  color: var(--bs-green);
}

.voted {
  color: rgb(25, 245, 170);
}

.bottompic {
  position: relative;
  flex: 0 0 60%;
  transform: translate3d(0, 0%, 0);
}

.leftpic {
  position: relative;
  flex: 0 0 45%;
  transform: translate3d(-15%, 35%, 0);
}

.rightpic {
  position: relative;
  flex: 0 0 45%;
  transform: translate3d(-5%, 20%, 0);
}

.collage {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.used_by_x {
  font-size: 1.6rem;
}


